@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700;900&family=Urbanist:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* HEADER SECTION STARTS HERE */

.head {
  background-color: #ffffff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  padding: 0 48px;
}

.logo_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo_wrapper ul {
  list-style-type: none;
  margin-left: 30px;
}

.logo_wrapper li {
  display: inline-flex;
  margin-right: 30px;
  font-weight: 500;
}

.logo_wrapper img {
  height: 80px;
}

.button_wrapper {
  background-color: beige;
  margin-right: 20px;
}

.button_wrapper button {
  background-color: #f4f5f6;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  border: #f4f5f6;
}

/* HEADER SECTION ENDS HERE */

/* HERO SECTION STARTS HERE */

.hero {
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 100%;
  transform: scale(1.05);
}

.content-container {
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
}

.content-container h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 24px;
}

.content-container .heading {
  font-size: 14px;
  font-weight: 500;
}

.content-container p {
  font-size: 20px;
  margin-bottom: 20px;
}

.content-container button {
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
}

/* HERO SECTION ENDS HERE */

/* TEAM SECTION STARTS HERE */
.solutions {
  padding: 40px 0;
  min-height: 750px;
}

.container-team {
  max-width: 1320px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

.container-team h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
}

.info {
  display: flex;
  gap: 40px;
}

.info-card {
  position: relative;
}

.info-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scaleX(0.9);
  transform-origin: left;
  margin-bottom: 70px;
}

.designation {
  position: absolute;
  width: 100%;
  background-color: #0033a1;
  color: white;
  top: 90%;
  padding: 20px 20px;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.8;
}

.info-card p {
  font-size: 20px;
  font-weight: 700;
}

/* TEAM SECTION ENDS HERE */

/* PRODUCTS SECTION STARTS HERE */

.products {
  background-color: #f4f5f6;
  padding-top: 50px;
}

.container-products {
  max-width: 1320px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

.container-products h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
}

.products-info {
  display: flex;
  gap: 40px;
}

.products-info-card {
  max-width: 440px;
  width: 400px;
}

.product-details {
  background-color: #ffffff;
  padding: 30px 20px;
  height: 400px;
}

.product-details img {
  width: 100%;
  margin-bottom: 20px;
}

.product-name h3 {
  font-size: 21px;
  margin-bottom: 20px;
}

.product-name p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555555;
}

.product-learn {
  background: #435cc8;
  color: white;
  padding: 13px 20px;
  font-weight: 600;
  line-height: 24px;
}

.container-products h5 {
  text-align: center;
  color: #ff5200;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding: 40px 0;
}

/* PRODUCTS SECTION ENDS HERE */

/* PROJECTS SECTION STARTS HERE */

.projects {
  padding: 50px 0;
  background-color: #f4f5f6;
}

.container-projects {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 48px;
}

.project-detail {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
}

.project-detail h2 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}

.project-clients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.clients {
  width: 306px;
  padding: 20px 0;
}

.project-clients img {
  width: 100px;
}

/* PROJECTS SECTION ENDS HERE */

/* STORY SECTION STARTS HERE */

.success-story {
  padding: 50px 0;
  background-color: #f4f5f6;
}

.container-story {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 48px;
}

.story {
  display: flex;
  background: black;
  color: #ffffff;
}

.story-right {
  flex: 1;
  background-color: black;
}
.text-container {
  padding: 100px;
}

.text-container h5 {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 15px;
}

.detail {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}

.namee {
  font-weight: 700;
}
.infoo {
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 70px;
}

.read {
  font-weight: 600;
  font-size: 20px;
  color: #ff5200;
}

.story-left {
  flex: 1;
}

.story-left img {
  height: 570px;
  width: 100%;
}

.case {
  font-size: 18px;
  font-weight: 600;
  color: #ff5200;
  margin-top: 40px;
  text-align: center;
}

/* CUSTOMER SUPPORT STARTS HERE */

.customer-support {
  padding: 15px 0;
  background-color: #f4f5f6;
}

.customer-container {
  max-width: 1320px;
  padding: 0 48px;
  margin: 0 auto;
}

.customer {
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.customer-text-container {
  padding: 180px 80px;
}

.customer-text-container h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.customer-text-container p {
  color: #ff5200;
  font-size: 20px;
  font-weight: 600;
}
.customer-right {
  flex: 1;
  padding: 80px 80px;
}

.support-one {
  display: flex;

  margin-bottom: 40px;
}

.customer-right hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

.support-one img {
  height: 100%;
}

.support-description {
  padding: 0 20px;
}

.support-description h4 {
  font-size: 23px;
  margin-bottom: 10px;
}

.support-description p {
  font-size: 18px;
  color: #555555;
  line-height: 22px;
}

/* CUSTOMER SUPPORT ENDS HERE */

/* REQUEST DEMO STARTS HERE */

.demo {
  background-color: black;
  padding: 15px 0;
}

.container-demo {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 48px;
}

.demo-main {
  display: flex;
  justify-content: center;
}

.demo-right {
  padding: 80px 80px;
}

.demo-heading {
  font-size: 35px;
  color: white;
  margin-bottom: 30px;
}

.demo-detail {
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}

.demo-request {
  padding: 15px 25px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ff5200;
}

.demo-left {
  padding: 80px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-advice,
.logo-G2,
.logo-apple,
.logo-google {
  width: 250px;
  margin-bottom: 30px;
}

.logo-one img {
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
}
.logo-two img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}
.logo-three img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}
.logo-four img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  justify-content: flex-start;
}

.rating p {
  color: #a3a4a6;
}

/* REQUEST DEMO ENDS HERE */

/* FOOTER STARTS FROM HERE */
.foot {
  padding: 15px;
  background-color: white;
}
.footer-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  justify-content: center;
}
.footer-right {
  padding: 70px;
}
.footer-logo {
  height: 1.25rem;
  width: 10rem;
  margin-bottom: 20px;
}

.footer-description {
  color: #555555;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.fa-brands {
  font-size: 22px;
  color: #555555;
  margin-right: 15px;
}

.footer-left {
  display: flex;
  padding: 70px 0;
}

.footer-start,
.footer-middle {
  margin-right: 80px;
}

.footer-start h3,
.footer-middle h3,
.footer-end h3 {
  font-size: 14px;
  margin-bottom: 15px;
  white-space: nowrap;
}
.footer-start ul,
.footer-middle ul {
  list-style: none;
  color: #555555;
  font-size: 12px;
  white-space: nowrap;
}

.footer-start li,
.footer-middle li {
  margin-bottom: 12px;
}

.apple,
.google {
  display: flex;
}
.footer-end p {
  color: #555555;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.footer-end i {
  width: 20px;
  font-size: 20px;
}
/* FOOTER ENDS FROM HERE */
